@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');
/*-----font import--------*/

/*---------color palletes -----------*/
:root {
    --color1: #0f3752;
    --color2: #20649e;
    --color3: #2b9fc8;
    --color4: #2bcac8;
    --color5: #b4e5e5;
}

/*-----General Styling----------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

h1,
h2 {
    padding: 5px 0;
    text-align: center;
    font-weight: 800;
    color: var(--color1);
}

h1 {
    text-decoration: underline;
    font-size: 30px;
}

h2 {
    text-align: center;
}

h3 {
    padding: 10px 0 5px;
    font-style: italic;
}

p,
li {
    font-weight: 500;
    padding: 5px 0;
    color: black;
}

img {
    width: 240px;
    border-radius: 50%;
    border: 15px solid var(--color2);
}

/*------------grid display styling-------*/
.container {
    font-family: 'Inter', sans-serif;
    width: 100vh;
    min-width: 400px;
    height: auto;
    display: grid;
    gap: .5rem;
    grid-template-areas:
        "header header"
        "left-area small-right-area"
        "left-area right-area"
        "left-area right-area"
        "left-area right-area"
        "small-left-area right-area"
    ;
    grid-template-columns: 20rem auto;
    grid-template-rows: auto;
    margin: 20px 25%;
    border-radius: .6rem;
    background-color: var(--color2);
    padding: 15px;

}

.header,
.left-area,
.right-area,
.small-right-area,
.small-left-area {
    padding: 10px 50px;
    border-radius: 6px;
    background-color: var(--color3);
    color: var(--color1);

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    grid-area: header;
}

.left-area {
    background-color: var(--color5);
    padding: 10px 15px;
}

.left-area {
    grid-area: left-area;
    

}

.right-area {
    grid-area: right-area;
    
}

.small-right-area {
    grid-area: small-right-area;
}

.small-left-area {
    grid-area: small-left-area;
}

/*----------------classes Styling-----------------*/

.fa,
.fa-brands,
.fa-solid {
    /*------icons Styling----*/
    color: var(--color5);
    padding-right: 5px;
    font-size: 15px;
    font-weight: 600;
}

.title h1 {
    text-align: left;
    text-decoration: none;
    padding-left: 0;
    padding-top: 10px;
}

.title h2 {
    text-align: left;
    text-decoration: none;
    padding-left: 0;
    padding-top: 10px;
}

.title h2 {
    padding-top: 0;
}

.contact,
.education {
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: var(--color3);
}

.contact p {
    font-weight: 600;
    font-size: 19px;
}

.education {
    margin-bottom: 0;

}

.social {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 5px solid var(--color5);
    text-align: center;
}
.social h2{
    font-size: 18px;
   /* text-align: left; */
}
a{
    display: block;
    padding-top: 5px;
    text-decoration: none;
    color: var(--color1);
    font-size: 15px;
}

a:hover {
   
    text-decoration: underline;
    color: var(--color2);
    font-size: 15px;
}
